- name: deploy oh-my-zsh
  git: 
    repo: "{{ oh_my_zsh_repo }}"
    dest: "~/.oh-my-zsh"

# - name: get k plugin
#   git:
#     repo: "https://github.com/supercrabtree/k"
#     dest: "~/.oh-my-zsh/custom/plugins/k"  

# - name: download theme
#   get_url:
#     url: "http://raw.github.com/caiogondim/bullet-train-oh-my-zsh-theme/master/bullet-train.zsh-theme"
#     dest: "~/.oh-my-zsh/custom/themes/"

- name: theme install
  git:
    repo: "https://github.com/romkatv/powerlevel10k.git"
    dest: "~/.oh-my-zsh/custom/themes/powerlevel10k"
    depth: 1

# plugins
- name: zsh-syntax-highlighting
  git:
    repo: "https://github.com/zsh-users/zsh-syntax-highlighting.git"
    dest: "~/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"

- name: zsh-autosuggestions
  git:
    repo: "https://github.com/zsh-users/zsh-autosuggestions"
    dest: "~/.oh-my-zsh/custom/plugins/zsh-autosuggestions"

# on freebsd you need to install lsd via rust and cargo
# see https://github.com/Peltoche/lsd


- name: templating ~/.zshrc
  template:
    src: "~/.dotfiles/.zshrc"
    dest: "~/.zshrc"
    backup: yes

- name: templating ~/.theme.zsh
  template:
    src: "~/.dotfiles/.theme.zsh"
    dest: "~/.theme.zsh"
    backup: yes

- name: set zsh as default shell
  user: 
    name: root
    shell: /usr/local/bin/zsh