- name: deploy oh-my-zsh
  git: 
    repo: "{{ oh_my_zsh_repo }}"
    dest: "~/.oh-my-zsh"

- name: get k plugin
  git:
    repo: "https://github.com/supercrabtree/k"
    dest: "~/.oh-my-zsh/custom//plugins/k"  

- name: templating ~/.zshrc
  template:
    src: "~/.dotfiles/.zshrc"
    dest: "~/.zshrc"
    backup: yes

- name: set zsh as default shell
  user: 
    name: root
    shell: /usr/local/bin/zsh