
- name: check if .ssh/authorized_keys exists
  stat:
    path: "~/.ssh/authorized_keys"
  register: authorized_keys_path

- name: templating .ssh/authorized_keys
  template:
    src: "~/.dotfiles/.ssh/authorized_keys"
    dest: "~/.ssh/authorized_keys"
  when: authorized_keys_path.stat.exists
  backup: yes
  register: authorized_keys

- name: Restart service sshd
  service:
    name: sshd
    state: restarted
  when: authorized_keys.changed