root=postmaster
mailhub=smtp.tech-ninja.de:587
AuthUser=postmaster@tech-ninja.de
AuthPass={{ ssmtp_password }}
Hostname=hoth.tech-ninja.de
rewriteDomain=tech-ninja.de
FromLineOverride=YES
UseSTARTTLS=YES